html {
    font-family: sans-serif;
    font-size: 10pt;
}

body {
    padding-bottom: 25px;
}


ul.pagination {
    display: inline-block;
    padding-left: 0;
    background-color: #efefef;
    border-left: 1px solid #ccc;
    font-size: 0;
}

ul.pagination > li {
    display: inline-block;
    padding: 10px;
    border: 1px solid #ccc;
    border-left: 0;
    font-size: 10pt;
}

ul.pagination a {
    text-decoration: none;
    color: #fff;
    
}
ul.pagination li.active {
    background-color: #666;
    color: #fff;
    cursor: default;
}

.form-group label {
    display: block;
    font-weight: bold;

}

.form-control {
    width: 100%;
    margin-bottom: 25px;
}